@font-face {
    font-family: "kkum";
    font-weight: normal;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/kkum/kkum.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/kkum/kkum.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/kkum/kkum.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/kkum/kkum.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/kkum/kkum.ttf") format("truetype");
    font-display: swap;
}
.kkum {
    font-family: "kkum";
}